<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include("../../partials/head") %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">بانک سوالات</h2>
          <% if (user.role === 'admin') { %>
            <a
            href="/dashboard/questions/addQuestion"
            class="h-10 px-4 lg:h-12 lg:px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            ><i class="ri-add-line"></i
            ><span class="hidden sm:inline">ثبت سوال جدید</span></a
          >
          <% } %>
        </header>

        <!-- Search form -->
        <form
          action="/dashboard/questions"
          method="get"
          class="w-full rounded-lg mt-8 flex flex-col gap-4 items-center justify-end"
        >
          <input
            class="w-full h-10 lg:h-12 border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary text-right outline-none px-4"
            type="text"
            name="questionText"
            placeholder="جست‌وجو بین <%= totalQuestions %> سوال ثبت شده..."
          />

          <div class="w-full flex flex-col sm:flex-row gap-2">
            <button
              type="submit"
              class="md:w-[150px] h-12 sm:w-full lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-primary text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              <i class="ri-search-line"></i>
              جست و جو
            </button>
          </div>
        </form>

        <!-- Errors -->
        <% var errors = errors || '' %> <% if (errors.length >= 1) { %> <%
          errors.forEach((error) => { %>
          <div
            class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
          >
            <i class="ri-error-warning-line"></i>
            <%= error.msg %>
          </div>
          <% }) %> <% } %>
          <!-- Error -->
           <% if (errorMessage && errorMessage.length > 0) { %>
          <div
            class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
          >
            <i class="ri-error-warning-line"></i>
            <%= errorMessage %>
          </div>
          <% } %>
  
          <!--Success-->
          <% if (successMessage && successMessage.length > 0) { %>
          <div
            class="w-full min-h-8 rounded-lg mt-4 bg-success-light-1 text-white text-sm flex items-center p-4 gap-1"
          >
            <i class="ri-error-warning-line"></i>
            <%= successMessage %>
          </div>
          <% } %>

        <!-- Question Boxes -->
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 gap-4">
          <% var questions = questions || '' %> <% if (questions &&
          questions.length >= 1) { %> <% questions.forEach((question) => { %>
          <!-- Question Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-2"
          >
            <% if (user.role === 'admin') { %>
              <!-- Question actions -->
            <div class="flex items-center gap-4 absolute left-4 sm:left-6">
              <!-- Edit question -->
              <a href="/dashboard/questions/updateQuestion/<%= question._id %>" class="cursor-pointer text-lg text-404040">
                <i class="ri-edit-line"></i>
              </a>

              <!-- Delete question -->
              <a href="/dashboard/questions/deleteQuestion/<%= question._id %>" class="cursor-pointer text-lg text-404040">
                <i class="ri-delete-bin-6-line"></i>
              </a>
            </div>
            <% } %>

            <!-- Question details - Group, Sub Group, Text -->
            <div class="flex flex-wrap items-center gap-1">
              <div class="flex items-center gap-1">
                گروه:
                <div class="w-fit text-xs bg-warning p-1 text-white rounded-lg">
                  <%= question.groupID ? question.groupID.name : 'نام گروه پیدا نشد'%>
                </div>
              </div>

              <div class="flex items-center gap-1">
                زیرگروه:
                <div class="w-fit text-xs bg-success p-1 text-white rounded-lg">
                  <%= question.subGroupID ? question.subGroupID.name : 'نام زیرگروه پیدا نشد'%>
                </div>
              </div>
            </div>

            <!-- Question text -->
            <p class="text-404040 text-sm sm:text-base"><%= question.text %></p>

            <!-- Question answer & count of answers -->
            <div
              class="flex flex-wrap items-center justify-between gap-2 sm:gap-4"
            >
              <a
                href="/dashboard/questions/<%= question._id %>/responses/addResponse"
                class="w-full sm:w-auto h-10 px-8 flex items-center gap-1 justify-center rounded-lg bg-primary text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200 text-sm sm:text-base"
              >
                ثبت پاسخ جدید
              </a>

              <div class="flex items-center gap-1">
                تعداد پاسخ:
                <span
                  class="w-8 h-8 flex items-center justify-center bg-CBCBCB text-606060 rounded-lg"
                >
                  <%= question.responseCount %>
                </span>
              </div>
            </div>

<div class="p-4 bg-slate-300 rounded-lg">
  <% if (question.userResponse) { %>
    <p class="text-404040 text-bold">پاسخ دهنده: 
      <span class="text-606060">
        <%= question.userResponse.userID ? question.userResponse.userID.email : 'داده‌ای یافت نشد' %>
      </span>
    </p>
    <p class="text-404040 text-bold">پاسخ : 
      <span class="text-606060 text-bold">
        <%= question.userResponse.score !== undefined ? question.userResponse.score : 'داده‌ای یافت نشد' %> درصد
      </span>
    </p>
    <p class="text-404040">توضیحات : 
      <span class="text-606060 text-bold">
        <%= question.userResponse.description ? question.userResponse.description : 'داده‌ای یافت نشد' %>
      </span>
    </p>
    <p class="text-404040 text-bold">لینک مستندات : 
      <p class="flex flex-col gap-1">
        <% if (question.userResponse.documents && question.userResponse.documents.length > 0) { %>
          <% question.userResponse.documents.forEach((document) => { %>
            <a href="#" class="text-blue-500"><%= document %></a> 
          <% }) %>
        <% } else { %>
          <p class="text-606060 ">مستندی یافت نشد</p>
            <% } %>
      </p>
    </p>
  <% } else { %>
    <p class="text-404040">پاسخی برای این سوال از جانب ثبت نشده است.</p>
  <% } %>
</div>

          </div>
          <% }) } else { %>
          <p class="text-lg mt-4 text-primary"><%= text %></p>
          <% } %>
        </div>

        <% if (totalPages > 1) { %>
        <!--Pagination-->
        <footer
          class="w-full flex items-center justify-center flex-wrap gap-4 mt-8"
        >
          <% for (let page = 1; page <= totalPages; page++) { %>
          <a
            href="?page=<%= page %>&limit=<%= limit %>&questionName=<%= query %>"
            class="<%= currentPage === page ? 'text-primary underline' : ''%>"
            ><%= page %></a
          >
          <% } %>
        </footer>
        <% } %>
      </main>
    </div>
  </body>
</html>
