<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include('../../partials/head') %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">
            اضافه کردن پاسخ جدید برای سوال<%= question._id || 'داده‌ای یافت نشد' %> توسط
            <p><%= user.role || 'داده‌ای یافت نشد'%></p>
            <p class="text-primary"><%= user.email || 'داده‌ای یافت نشد' %></p>
          </h2>
        </header>

        <form
          action="/dashboard/questions/<%= question._id %>/responses/addResponse"
          method="post"
          enctype="multipart/form-data"
          class="w-full min-h-[400px] bg-white rounded-lg p-4 mt-8 shadow-lg flex flex-col gap-4 justify-start"
        >
          <h2 class="font-bold text-lg text-202020">پاسخ جدید برای سوال <%= question._id || 'داده‌ای یافت نشد'%></h2>

          <!-- Errors -->
          <% var errors = errors || '' %> <% if (errors.length >= 1) { %> <%
            errors.forEach((error) => { %>
            <div
              class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
            >
              <i class="ri-error-warning-line"></i>
              <%= error.msg %>
            </div>
            <% }) %> <% } %>
            <!-- Error -->
            <% if (errorMessage && errorMessage.length > 0) { %>
            <div
              class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
            >
              <i class="ri-error-warning-line"></i>
              <%= errorMessage %>
            </div>
            <% } %>
  
            <!--Success-->
            <% if (successMessage && successMessage.length > 0) { %>
            <div
              class="w-full min-h-8 rounded-lg mt-4 bg-success-light-1 text-white text-sm flex items-center p-4 gap-1"
            >
              <i class="ri-error-warning-line"></i>
              <%= successMessage %>
            </div>
            <% } %>

          <div class="flex flex-col gap-4">
            <div class="bg-slate-400 rounded-lg p-4">
              <p class="font-bold">
                متن سوال:
                <p class="text-404040 mt-4">
                  <%= question.text || 'داده‌ای یافت نشد'%>
                  </p>
              </p>
            </div>

            <div class="bg-slate-300 rounded-lg p-4">
              <div class="flex items-center gap-2">
                <span class="font-bold">زیرگروه:</span>
                <p class="text-primary"><%= question.subGroupID.name || 'داده‌ای یافت نشد' %></p>
              </div>

              <div class="flex items-center gap-2">
                <span class="font-bold">سازنده سوال:</span>
                <p class="text-primary"><%= question.userID.email || 'داده‌ای یافت نشد' %></p>
              </div>
            </div>

            <div class="flex flex-col gap-2">
              <label for="answer" class="text-sm">پاسخ شما</label>
              <input
                type="number"
                class="w-full sm:w-28 h-12 border rounded-lg border-CBCBCB text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-center outline-none px-4"
                placeholder="0 - 100"
                name="score"
                id="answer"
              />
              <span class="text-warning text-sm">0 نشانه خیر است</span>
            </div>

            <div class="flex flex-col gap-2">
              <label for="description" class="text-sm">توضیحات شما</label>
              <textarea
                class="w-full min-h-20 border rounded-lg border-CBCBCB text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-right outline-none p-4"
                placeholder="توضیحات شما"
                name="description"
                id="description"
              ></textarea>
            </div>

            <div class="flex flex-col gap-2">
              <input type="file" name="files" multiple />
            </div>
          </div>

          <div
            class="w-full flex flex-col sm:flex-row items-center gap-4 sm:gap-2"
          >
            <button
              type="submit"
              class="w-full sm:w-1/2 h-12 px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              ثبت پاسخ
            </button>
            <a href="/dashboard/questions"
              type="button"
              class="w-full sm:w-1/2 h-12 px-6 bg-disabledButton text-606060 flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              لغو فرایند
            </a>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
