<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include("../../partials/head") %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">
            کاربران ثبت شده
          </h2>
          <a
            href="/dashboard/users/addUser"
            class="h-10 px-4 lg:h-12 lg:px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            ><i class="ri-add-line"></i
            ><span class="hidden sm:inline">ثبت کاربر جدید</span></a
          >
        </header>

        <!-- Search form -->
        <form
          action="/dashboard/users"
          method="get"
          class="w-full rounded-lg mt-8 flex flex-col gap-4 items-center justify-end"
        >
          <input
            class="w-full h-10 lg:h-12 border rounded-lg border-CBCBCB text-606060 bg-white focus:ring-2 focus:ring-primary text-right outline-none px-4"
            type="text"
            name="userEmail"
            placeholder="جست‌وجو بین <%= totalUsers || 'داده‌ای یافت نشد' %> کاربران ثبت نام شده..."
          />

          <div class="w-full flex flex-col sm:flex-row gap-2">
            <button
              type="submit"
              class="md:w-[150px] h-12 sm:w-full lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-primary text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
            >
              <i class="ri-search-line"></i>
              جست و جو
            </button>
          </div>
        </form>

        <!-- Errors -->
        <% var errors = errors || '' %> <% if (errors.length >= 1) { %> <%
        errors.forEach((error) => { %>
        <div
          class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
        >
          <i class="ri-error-warning-line"></i>
          <%= error.msg %>
        </div>
        <% }) %> <% } %>
        <!-- Error -->
        <% if (errorMessage && errorMessage.length > 0) { %>
        <div
          class="w-full min-h-8 rounded-lg mt-4 bg-error-light-1 text-error text-sm flex items-center p-4 gap-1"
        >
          <i class="ri-error-warning-line"></i>
          <%= errorMessage %>
        </div>
        <% } %>

        <!--Success-->
        <% if (successMessage && successMessage.length > 0) { %>
        <div
          class="w-full min-h-8 rounded-lg mt-4 bg-success-light-1 text-white text-sm flex items-center p-4 gap-1"
        >
          <i class="ri-error-warning-line"></i>
          <%= successMessage %>
        </div>
        <% } %>

        <!-- users boxes -->
        <div
          class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
        >
          <% if (users.length >= 1) { %> <% users.forEach((usr) => { %>
          <!-- user Box -->
          <div
            class="w-full min-h-[200px] relative bg-white border rounded-lg mt-8 p-4 border-CBCBCB overflow-auto flex flex-col gap-4"
          >
            <!-- user details -->
            <p class="flex items-center gap-1 text-404040">
              ایمیل کاربر:
              <span class="text-primary"
                ><%= usr.email || 'داده‌ای یافت نشد' %></span
              >
            </p>

            <p class="flex items-center gap-1 text-404040">
              نقش کاربر:
              <span class="text-primary"
                ><%= usr.role || 'داده‌ای یافت نشد' %></span
              >
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ ثبت نام:
              <span class="text-primary"
                ><%= usr.createdAt.toLocaleDateString('fa-IR') || 'داده‌ای یافت
                نشد' %></span
              >
            </p>

            <p class="flex items-center gap-1 text-404040">
              تاریخ آخرین بروزرسانی:
              <span class="text-primary"
                ><%= usr.updatedAt.toLocaleDateString('fa-IR') || 'داده‌ای یافت
                نشد' %></span
              >
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد پاسخ ثبت شده:
              <span class="text-primary"
                ><%= usr.responseCount || 'داده‌ای یافت نشد' %></span
              >
            </p>

            <p class="flex items-center gap-1 text-404040">
              تعداد سوالات ثبت شده:
              <span class="text-primary"
                ><%= usr.questionCount || 'داده‌ای یافت نشد' %></span
              >
            </p>

            <!-- user actions -->
            <div class="flex items-center gap-2 flex-wrap">
              <a
                href="/dashboard/users/updateUser/<%= usr._id %>"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-success text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                ویرایش کاربر
              </a>

              <a
                href="/dashboard/users/deleteUser/<%= usr._id %>"
                class="md:w-[150px] w-full h-12 lg:h-10 flex items-center gap-1 justify-center rounded-lg bg-error text-center text-white font-bold shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200"
              >
                حذف کاربر
              </a>
            </div>
          </div>

          <% }) } else { %>
          <p class="text-lg mt-4 text-primary">
            <%= text || 'داده‌ای یافت نشد' %>
          </p>
          <% } %>
        </div>

        <% if (totalPages > 1) { %>
        <!--Pagination-->
        <footer
          class="w-full flex items-center justify-center flex-wrap gap-4 mt-8"
        >
          <% for (let page = 1; page <= totalPages; page++) { %>
          <a
            href="?page=<%= page %>&limit=<%= limit %>&userEmail=<%= query %>"
            class="<%= currentPage === page ? 'text-primary underline' : ''%>"
            ><%= page %></a
          >
          <% } %>
        </footer>
        <% } %>
      </main>
    </div>
  </body>
</html>
